*{
  font-family: 'Poppins', sans-serif;
}

.navbar{
  display: flex;
  text-align: center;
  padding: 10px;
  justify-content: center;
  cursor:default;
}

.nav-info{
  display: flexbox;
}

.nav-title{
  font-size: 36px;
}

.title-description{
  transform: translateY(-10px);
  font-size: 16px;
}